@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --alt-color: #7893b3;
}

body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%; 
    height: auto;
    background-color: #eaebeb;
    background-position: center bottom;
    background-image: url('../img/wavesBg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

#MainNav{
    border-bottom: 1px solid black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease, backdrop-filter 0.3s ease;
    background-color: transparent;
    padding: 10px;
}

#MainNav.scrolled{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid transparent;
}

#NavLogoText{
    font-family: "Kode Mono", monospace;
    font-weight: 600;
    font-size: 30px;
    margin-right: 50px;
}

#NavBurgerMenu{
    border: 1px solid black;
}

.nav-link{
    margin-right: 50px;
    display: inline-flex;
    transition: all 0.15s ease;
}

.nav-icon{
    text-align: center;
    margin: none;
    padding: none;
    position:relative;
    left: 12px;
    top: 15px;
    background-color: transparent;
    transition: all 0.3s ease;
    opacity: 0;
}

.nav-link:hover .nav-icon{
    top: 3px;
    opacity: 1;
}

#MainNav:not(.scrolled) .nav-icon{
    top: 3px;
    opacity: 1;
}

@media (max-width: 992px){
    .nav-icon{
        top: 3px;
        opacity: 1;
    }
}

.underline-anim {
  position: relative;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.underline-anim:hover {
  color: #000;
}

.underline-anim::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.underline-anim:hover::before {
  transform: scaleX(1);
}

.navbar-toggler-icon {
    background-image: none!important;
    background-color: black;
    border-radius: 1px;
    height: 2px;
    width: 25px;
    margin: 11px 0;
    position: relative;
    transition: all 0.35s ease;
    transform-origin: center;
}

.navbar-toggler-icon::before {
    display: block;
    background-color: black;
    border-radius: 1px;
    height: 2px;
    content: "";
    position: relative;
    top: -6px;
    transition: all 0.35s ease;
    transform-origin: center;
}

.navbar-toggler-icon::after {
    display: block;
    background-color: black;
    border-radius: 1px;
    height: 2px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease;
    transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
    background-color: black;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(6px);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Safari detection due to problems with positioning */
@supports (-webkit-hyphens: none) {
    #MainNav .navbar-toggler {
        margin-top: -50px;
        margin-left: auto !important;
    }
    
    @media (min-width: 992px){
        #MainNav .navbar-brand{
            max-width: 233px;
        }

        .navbar-collapse{
            width: 560px;
        }
    }
}

.siteFooter{
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding: 30px;
    padding-top: 0px;
}

.footerItem{
    float: left;
    clear: left;
    display: block;
}

.footerLinksList{
    list-style: none;
    margin-top: 10px;
}

.footerLogo{
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .footerLogo{
        margin-top: 10px;
    }
}

.row{
    margin-top: 30px;
}

.text-alt-heading{
    text-transform: none;
    text-align: center;
    font-family: "Kode Mono", monospace;
    font-weight: 600;
    margin-top: 2vw;
    font-size: 60px;
}

.text-font-alt{
    font-family: "Kode Mono", monospace;
    font-weight: 600;
}

.text-alt-heading span{
    animation-delay: 0.5s;
    font-weight: 400;
}

.modelName{
    font-size: 30px;
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

@media (max-width: 992px){
    .text-alt-heading{
        font-size: 30px;
    }
}

.cstmButton{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
}

.cstmButton:hover{
    background-color: transparent;
    color: black;
}

.allNewText{
    margin-top: 2vw;
    font-weight: 300;
}

.getYoursBtn{
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    font-size: 40px;
    height: 1.7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.btnBottomPage{
    margin-top: 75px;
}

@media (max-width: 992px) {
    .getYoursBtn{
        width: 200px;
        font-size: 30px;
        height: 1.7em;
    }
    .allNewText{
        margin-top: 5vw;
        font-weight: 300;
    }
    .text-alt-heading{
        margin-top: 5vw;
    }
    .btnBottomPage{
        margin-top: 125px;
    }
}

@media (max-width: 768px){
    .btnBottomPage{
        margin-top: 1vw;
        margin-bottom: 50px;
    }
}

.getYoursBtn:hover{
    background-color: transparent;
    color: black;
}

.blur-bg{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.mainCard{
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    margin-top: 30px;
    overflow: hidden;
}

.mainCardImage{
    height: 10vw;
    object-fit: cover;
    object-position: 100% 25%;
    transition: all 0.3s ease;
}

.kitsImg{
    object-position: 100% 50%;
}

.mainCard:hover .mainCardImage{
    object-position: 100% 30%;
}

.mainCard:hover .kitsImg{
    object-position: 100% 60%;
}

@media (max-width: 600px){
    .mainCard .mainCardImage{
        height: 40vw;
        object-position: 100% 20%;
    }
    .kitsImg{
        object-position: 100% 40%;
    }
}

.wrapScrollingText{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 10px;
    position: relative;
    margin-bottom: 15px;
}

.scrollTrack {
  display: flex;
  flex-wrap: nowrap;
  animation: rightToLeft 20s linear infinite;
}

.scrollBox{
    width: auto;
    height: 7em;
    background-color: transparent;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    white-space: nowrap;
}

@media (max-width: 600px){
    .scrollBox{
        height: 6em;
    }
}

.scrollIconBox{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: none;
    height: 8em;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.columnHeading{
    font-size: 40px;
    float: left;
    margin-bottom: 20px;
    margin-top: 5vw;
}

.columnHeadingR{
    font-size: 40px;
    float: right;
    margin-bottom: 20px;
    margin-top: 5vw;
}

.headingPhotoHorizontal{
    margin-top: 1vw;
}

.columnText{
    float: left;
    font-size: 20px;
    text-align: left;
}

.columnTextR{
    float: right;
    font-size: 20px;
    text-align: right;
}

@media (max-width: 992px){
    .columnTextR{
        font-size: 16px;
    }
    .columnText{
        font-size: 16px;
    }
    .columnHeading{
        margin-top: 5px;
    }
    .columnHeadingR{
        margin-top: 5px;
    }
    .photoBottomPage{
        font-size: 35px;
    }
}

@media (max-width: 768px){
    .columnTextR{
        font-size: 20px;
    }
    .columnText{
        font-size: 20px;
    }
    .columnHeading{
        margin-top: 5vw;
    }
    .columnHeadingR{
        margin-top: 5vw;
    }
}

.smallAstrix{
    font-size: 10px;
}

.photoColumnImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.photoHorizontal{
    max-height: 500px;
}

.photoAnim{
    opacity: 1;
    margin-top: 0px;
}

.contentRow{
    margin-top: 15px;
    margin-bottom: 15px;
}

.textPointer{
    margin-left: 0px;
    font-size: 35px;
    opacity: 0;
    transition: all 1s ease;
    float: left;
    clear: left;
}

@media (max-width: 992px){
    .textPointer{
        font-size: 25px;
    }
}

.smallIcon{
    width: 1em;
    margin-left: 5px;
}

.pointer-animation{
    margin-left: 30px;
    opacity: 1;
}

.apexcharts-yaxis-label {
  font-size: 12px;
}

.apexcharts-yaxis-label:last-of-type {
  font-size: 16px;
  font-weight: bold;
  fill: #000;
}

.contentHeader{
    margin-top: 40px;
    font-size: 40px;
}

.chartHolder{
    display: flex;
    width: 100%;
}

.chartHolder #chart{
    width: 100%;
    margin-top: -45px;
    margin-bottom: -20px;
}





/* Derived from specs.html */
.mainPhotoDiv{
    height: 430px;
    background-image: url('../img/photos/P1050515.JPG');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    margin-left: -12px;
    margin-right: -12px;
}

.mainPhotoAboutDiv{
    background-image: url('../img/photos/P1050572.JPG');
}

.demo{
    height: 2000px;
}

.blogHeading{
    font-size: 40px;
    float: left;
    margin-top: 2vw;
    text-align: left;
    font-weight: 600;
}

@media (max-width: 768px){
    .mainPhotoDiv{
        background-position: 75% -150px;
    }
}

.styled-table {
    border-collapse: collapse;
    font-size: 18px;
    margin-bottom: 15px;
}

@media (max-width: 768px){
    .styled-table{
        font-size: 14px;
    }
}

.styled-table thead tr {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr{
    background-color: transparent;
}

.styled-table tbody tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.styled-table tbody tr:last-of-type{
    border-bottom: none;
}

.tableFirst{
    color: rgba(0, 0, 0, 0.5);
}

.tableSecond{
    width: 100%;
}

.tableTitle{
    text-align: left;
    margin-bottom: 15px;
    font-family: "Kode Mono", monospace;
    font-weight: 600;
}

.squarePhotoHolder{
    margin-top: 50px;
}

.blogSquarePhoto{
    width: 75%;
    object-fit: cover;
    opacity: 0;
    border-radius: 10px;
    transition: all 0.6s ease;
}

.blogText{
    padding: 20px;
    opacity: 0;
}

.photoSquareAnim{
    opacity: 1;
    transition: all 0.6s ease;
}

.explainPhoto{
    margin-bottom: 30px;
}





/* Following code was derived from capabilities.html */

.capabilitiesHeroPhoto{
    height: 430px;
    background-image: url('../img/photos/P1050527.JPG');
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    margin-left: -12px;
    margin-right: -12px;
}

@media (max-width: 1500px){
    .capabilitiesHeroPhoto{
        background-position: bottom 150px center;
    }
}

.blogTextBlock{
    text-align: left;
}

.codeBlock{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: nowrap;
    color: black;
}

.bigCodeHolder{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.codeBlockLarge{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    white-space: pre-wrap;
    text-align: left;
    float: left;
    margin-right: auto;
    padding: 10px;
    color: black;
    margin-right: 15px;
}

.customLink{
    color: black;
}

.consolesListCap{
    margin-top: 0;
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
}

@media (min-width: 768px){
    .blogBigPhoto{
        transform: rotate(90);
    }
}

.blogRow:last-of-type{
    margin-bottom: 30px;
}

/* Following code was derived from products.html */

.productsCard{
    text-align: left;
}

.productsCardBody{
    padding: 20px;
}

.productsRow{
    margin-bottom: 30px;
}

.productsCol{
    padding: 20px;
}

.previousPrice{
    text-decoration:line-through;
    color: #999999;
    font-family: "Kode mono", monospace;
}

.pricePoint{
    color: #0dbf63;
    font-family: "Kode mono", monospace;
    font-size: 20px;
}



/* Following code was derived from kits.html */

.kitRow{
    padding: 0 30px 0 30px;
}

.itemCar{
    border-radius: 10px;
    overflow: hidden;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.prodName{
    font-family: "Kode mono", monospace;
    font-weight: 600;
    text-align: left;
    font-size: 40px;
    margin-top: 2vw;
}

@media (max-width: 768px){
    .prodName{
        margin-top: 5vw;
    }
}

@media (max-width: 992px){
    .prodName{
        font-size: 30px;
    }
}

.stars{
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.starIcon{
    width: 16px;
    padding: 1px;
}

.starText{
    text-align: center;
    padding: 5px;
    margin-top: 16px;
}

.optButtons{
    text-align: left;
}

.optButtons2{
    margin-top: 8px;
    text-align: left;
}

.button-opt, .button-opt2, .button-opt3{
    font-size: 14px;
    height: 3em;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.optActive, .optActive2, .optActive3{
    border: 2px solid black;
    font-size: 16px;
}

@media (max-width: 992px){
    .button-opt, .button-opt2, .button-opt3{
        font-size: 12px;
    }
}

.kitPrice{
    text-align: left;
    margin-top: 20px;
    font-family: "Kode mono", monospace;
    font-weight: 600;
    color: #0dbf63;
    font-size: 34px;
}

.oldPrice{
    text-decoration:line-through;
    color: #999999;
    font-size: 24px;
}

@media (max-width: 992px){
    .kitPrice{
        font-size: 24px;
    }
    .oldPrice{
        font-size: 18px;
    }
}

.saleDiv{
    text-align: left;
    margin-top: 10px;
}

.saleText{
    text-align: left;
    padding: 5px;
}

.color-shift{
    display: inline-block;
    padding: 0.35em 0.6em;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    background: #2bc24b;
    animation: bgFade 6s linear infinite;
}

/* keyframes cycle through colors */
@keyframes bgFade {
    0%   { background: #2bc24b; }
    25%  { background: #107535; }
    50%  { background: #38a645; }
    75%  { background: #107535; }    
    100% { background: #2bc24b; }
}

.smallHeading{
    text-align: left;
    font-family: "Kode Mono", monospace;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
}

.flexColRow{
    display: flex;
    flex-direction: row;
}

.rowColCstm:last-of-type{
    margin-left: 20px;
}

.photoFullArt{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.3s ease;
}

.photoFullArtDiv{
    width: 100%;
    height: 100%;
}

.aboutUsHeading{
    font-size: 30px;
    text-align: left;
    margin-bottom: 8px;
}

/* Following code was derived from contact.html */

.mainPhotoContactDiv{
    background-image: url("../img/photos/P1050595.JPG");
}

.spacer{
    height: 200px;
}

.contactHeader{
    font-family: 'Kode mono', monospace;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin-bottom: 8px;
}

.accordion-body{
    text-align: left;
}

.accordion{
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: black;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>");
}